@theme {
    --color-ftv-green: rgba(57, 135, 12, 1);
    --color-rhc-primary: var(--rhc-color-primary-500, #154273);
    --font-sans: Fira Sans, Arial, Verdana, sans-serif;
    --color-hero: oklch(0.82 0.1685 79);
    --color-rhc-geel-400: var(--rhc-color-geel-400, #FAE856);
    --color-ftv-azure: #007BC7;
    --color-ftv-info: #E1EEF8;
    --color-rhc-donkerbruin-100: var(--rhc-color-donkerbruin-100, #D1C2BE);
}

.ftv-hero-paragraph {
    color: var(--color-white);
    font-size: 20px;
    line-height: 100%;
}

.utrecht-paragraph-small {
    color: var(--color-rhc-primary);
    font-size: 14px;
    line-height: 150%;
    font-weight: 400;
}

.rhc-header-3 {
    color: var(--color-white);
    font-weight: 700;
    font-size: 32px;
    font-family: var(--font-sans), sans-serif;
    vertical-align: middle;
}

.rhc-header-4 {
    color: var(--color-white);
    font-weight: bold;
    font-size: 24px;
    font-family: var(--font-sans), sans-serif;
    vertical-align: middle;
}

.rhc-header-5 {
    color: var(--color-white);
    font-weight: normal;
    font-size: 20px;
    font-family: var(--font-sans), sans-serif;
    vertical-align: middle;
}

.ftv-footer-title {
    font-weight: 300;
    font-style: italic;
    font-size: 16px;
    line-height: 34px;
    letter-spacing: 0;
    vertical-align: middle;
}