@import '@rijkshuisstijl-community/components-css/dist/index.css';

@theme {
    --color-ftv-green: rgba(57, 135, 12, 1);
    --color-rhc-primary: var(--rhc-color-primary-500, #154273);
    --font-sans: Fira Sans, Arial, Verdana, sans-serif;
    --color-hero: oklch(0.82 0.1685 79);
    --color-rhc-geel-400: var(--rhc-color-geel-400, #FAE856);
    --color-ftv-azure: #007BC7;
    --color-ftv-info: #E1EEF8;
    --color-rhc-color-donkerbruin-100: #D1C2BE;
    --color-rhc-color-donkerbruin-50: #F0EBEA;
    --color-rhc-color-oranje-200: #F1BE8C;
    --color-rhc-color-oranje-100: #F6D6B6;
    --color-rhc-color-groen-50: #A5C991;
    --color-rhc-color-groen-25: #E1EDDB;
    --color-rhc-color-mosgroen-50: #EBEBD9;
    --color-rhc-color-mosgroen-25: #E1EDDB;
    --color-rhc-color-grijs-200: #E2E8F0;
    --color-rhc-color-grijs-50: #F8FAFC;
    --color-rhc-color-blauw-50: #BCDFF0;
    --color-rhc-color-blauw-25: #EEF7FB;
    --color-rhc-color-lintblauw-50: #BCDFF0;
    --color-rhc-color-lintblauw-25: #EEF7FB;
    --color-rhc-color-geel-300: #FDD370;
    --color-rhc-color-geel-50: #FFF4DB;
    --color-rhc-color-mintgroen-100: #D6F2E9;
    --color-rhc-color-roze-100: #FBDEF0;
}

@utility no-scrollbar {
    @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

.ftv-hero-paragraph {
    color: var(--color-white);
    font-size: 1.25rem;
    line-height: 100%;
}

.utrecht-paragraph-small {
    color: var(--color-rhc-primary);
    font-size: 14px;
    line-height: 150%;
    font-weight: 400;
}

.rhc-header-3 {
    color: var(--color-white);
    font-weight: 700;
    font-size: 2.0rem;
    font-family: var(--font-sans), sans-serif;
    vertical-align: middle;
}

.rhc-header-4 {
    color: var(--color-white);
    font-weight: bold;
    font-size: 1.5rem;
    font-family: var(--font-sans), sans-serif;
    vertical-align: middle;
}

.rhc-header-5 {
    color: var(--color-white);
    font-weight: normal;
    font-size: 1.25rem;
    font-family: var(--font-sans), sans-serif;
    vertical-align: middle;
}

.ftv-footer-title {
    font-weight: 300;
    font-style: italic;
    font-size: 1.0rem
    line-height: 34px;
    letter-spacing: 0;
    vertical-align: middle;
}

.section p {
    @apply pt-2;
    /* Apply utrecht-paragraph */
    color: var(--utrecht-paragraph-color, var(--utrecht-document-color, inherit));
    font-family: var(--utrecht-paragraph-font-family, var(--utrecht-document-font-family, inherit));
    font-size: var(--utrecht-paragraph-font-size, var(--utrecht-document-font-size, inherit));
    font-weight: var(--utrecht-paragraph-font-weight, inherit);
    line-height: var(--utrecht-paragraph-line-height, var(--utrecht-document-line-height, inherit));
    margin-block-end: calc(var(--utrecht-space-around, 0) * var(--utrecht-paragraph-margin-block-end, 0));
    margin-block-start: calc(var(--utrecht-space-around, 0) * var(--utrecht-paragraph-margin-block-start, 0));
}

/* Target only first-level lists */
.section > ul {
    color: var(--utrecht-paragraph-color, var(--utrecht-document-color, inherit));
    font-family: var(--utrecht-unordered-list-font-family);
    font-size: var(--utrecht-unordered-list-font-size);
    font-weight: var(--utrecht-unordered-list-font-weight);
    line-height: var(--utrecht-unordered-list-line-height);
    padding-inline-start: var(--utrecht-unordered-list-padding-inline-start);
}

.section > ul > li {
    margin-block-end: var(--utrecht-unordered-list-item-margin-block-end);
    margin-block-start: var(--utrecht-unordered-list-item-margin-block-start);
    padding-inline-start: var(--utrecht-unordered-list-item-padding-inline-start);
    list-style-type: disc;
    line-height: var(--utrecht-unordered-list-line-height);
}

.section > ol {
    color: var(--utrecht-paragraph-color, var(--utrecht-document-color, inherit));
    font-weight: var(--utrecht-ordered-list-font-weight);
    line-height: var(--utrecht-ordered-list-line-height);
    margin-block-end: var(--utrecht-ordered-list-margin-block-end);
    margin-block-start: var(--utrecht-ordered-list-margin-block-start);
    margin-inline-start: var(--utrecht-ordered-list-margin-inline-start);
    padding-inline-start: var(--utrecht-ordered-list-padding-inline-start);
}

.section > ol > li {
    padding-inline-start: var(--utrecht-ordered-list-item-padding-inline-start);
    list-style-type: decimal;
    font-size: var(--utrecht-paragraph-font-size, var(--utrecht-document-font-size, inherit));
    line-height: var(--utrecht-ordered-list-line-height);
}

.section > ol > li > ul {
    color: var(--utrecht-paragraph-color, var(--utrecht-document-color, inherit));
    font-family: var(--utrecht-unordered-list-font-family);
    font-size: var(--utrecht-unordered-list-font-size);
    font-weight: var(--utrecht-unordered-list-font-weight);
    line-height: var(--utrecht-unordered-list-line-height);
    padding-inline-start: var(--utrecht-unordered-list-padding-inline-start);
}

.section > ol > li > ul > li {
    margin-block-end: var(--utrecht-unordered-list-item-margin-block-end);
    margin-block-start: var(--utrecht-unordered-list-item-margin-block-start);
    padding-inline-start: var(--utrecht-unordered-list-item-padding-inline-start);
    list-style-type: disc;
    line-height: var(--utrecht-unordered-list-line-height);
}

.section > h3, h4, h5, h6 {
    padding-top: 0.5em;
}

.hoe-werkt-het-paragraph {
    font-family: "Fira Sans", sans-serif;
    font-size: 20px;
    line-height: 150%;
    font-weight: 400;
    color: black;
    letter-spacing: 0;
    color:var(--utrecht-paragraph-color);
}

.swiperWieDoenMee > .swiper-wrapper {
    transition-timing-function: linear;
}

 /* Section home page */


.section-box-banner {
    margin-top:-10px;
}

 .section-home-wrapper {
 }

 .section-home-wrapper a {
 }

.section-home-box {
    width: 250px;
    margin:20px;
    padding: 20px;
    background: white;
    height: auto;
    float:left;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 0.25);
}

.section-home-box h2 {
    font-weight:bold;
    text-decoration:underline;
}

.section-home-box p {
    font-size:18px;
}

/* Sub navigation within section */

.sub-navigation-wrapper {
    position:relative;
    bottom:-32px;
}

.sub-navigation-tab {
   float: left;
   border: none;
   height: 60px;
   padding: 0 40px 0 40px;
   margin-right:10px;
   text-align: center;
   line-height:60px;
   text-decoration:underline;
}

.sub-navigation-tab-selected {
   background: white;
   font-weight:bold;
   text-decoration:none;
 }

/* Generic tables */

table {
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

th {
    font-weight:bold;
    border-bottom: 2px solid #888;
  }

td {
  border-bottom: 1px solid #ddd;
}

td, th {
  text-align: left;
  padding:5px;
  font-family: var(--utrecht-paragraph-font-family, var(--utrecht-document-font-family, inherit));
  font-size: var(--utrecht-paragraph-font-size, var(--utrecht-document-font-size, inherit));
  font-weight: var(--utrecht-paragraph-font-weight, inherit);
  line-height: var(--utrecht-paragraph-line-height, var(--utrecht-document-line-height, inherit));
}

/* Eerste link in elke pagina, voor toegankelijkheid */

.skip-to-main-content-link {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  background-color: black;
  color: white;
  opacity: 0;
}
.skip-to-main-content-link:focus {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

/* Nieuws op de homepage */
.nieuwsitem h2 {
   font-weight:bold;
   text-decoration:underline;
}

/* Doelgroepen accordeon */
.accordion-header {
    float:left;
    width: 900px;
    cursor: pointer;
    display: flex;
    max-height:100%;
}

.accordion-header::after {
  content: "";
  clear: both;
}

.accordion-header h4 {
    padding-top:0px;
    width:800px;
}

.accordion-sidebar-color {
    width: 16px;
    float: left;
    margin: 0 0 0 10px;
}

.accordion-sidebar-icon {
    width: 24px;
    float: left;
    margin: 0 10px 0 10px;
    align-items: stretch;
}

.accordion-body {
    float:left;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    max-height:0;
}

.accordion-content {
    overflow: auto;
    padding-left: 48px;
 }

.accordion-content .section {
    float:left;
}

/* Volgende/vorige artikel */

.next-previous-wrapper {
    display:flex;
    justify-content: center;
}

.next-previous-box-right {
    text-align:right;
    padding-left:50px;
    width:30%;
}

.next-previous-box-left {
    padding-right:50px;
    width:30%;
}

.next-previous-box-left p {
    margin-left:16px;
    margin-top:8px;
}

.next-previous-box-right p {
    margin-right:16px;
    margin-top:8px;
}
