<footer
        class="utrecht-page-footer rhc-page-footer rhc-page-footer--primary-filled"
>
    <div class="rhc-page-footer__content rhc-page-footer__wrapper">
        <div class="rhc-page-footer__title">
            <h2 class="nl-heading nl-heading--level-3 rhc-heading">Footer heading</h2>
        </div>
        <div class="utrecht-column-layout">
            <div class="rhc-page-footer__section">
                <h3 class="nl-heading nl-heading--level-3 rhc-heading">Service</h3>
                <ul role="list" class="utrecht-link-list utrecht-link-list--html-ul">
                    <li class="utrecht-link-list__item">
                        <a
                                href="#"
                                class="utrecht-link utrecht-link--html-a utrecht-link-list__link"
                        >
              <span class="utrecht-icon" role="presentation" aria-hidden="true">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="tabler-icon tabler-icon-chevron-right"
                >
                  <path d="M9 6l6 6l-6 6"></path>
                </svg>
              </span>
                            <span class="utrecht-link-list__link-text">Contact</span>
                        </a>
                    </li>
                    <li class="utrecht-link-list__item">
                        <a
                                href="#"
                                class="utrecht-link utrecht-link--html-a utrecht-link-list__link"
                        >
              <span class="utrecht-icon" role="presentation" aria-hidden="true">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="tabler-icon tabler-icon-chevron-right"
                >
                  <path d="M9 6l6 6l-6 6"></path>
                </svg>
              </span>
                            <span class="utrecht-link-list__link-text">Abonneren</span>
                        </a>
                    </li>
                    <li class="utrecht-link-list__item">
                        <a
                                href="#"
                                class="utrecht-link utrecht-link--html-a utrecht-link-list__link"
                        >
              <span class="utrecht-icon" role="presentation" aria-hidden="true">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="tabler-icon tabler-icon-chevron-right"
                >
                  <path d="M9 6l6 6l-6 6"></path>
                </svg>
              </span>
                            <span class="utrecht-link-list__link-text">RSS</span>
                        </a>
                    </li>
                    <li class="utrecht-link-list__item">
                        <a
                                href="#"
                                class="utrecht-link utrecht-link--html-a utrecht-link-list__link"
                        >
              <span class="utrecht-icon" role="presentation" aria-hidden="true">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="tabler-icon tabler-icon-chevron-right"
                >
                  <path d="M9 6l6 6l-6 6"></path>
                </svg>
              </span>
                            <span class="utrecht-link-list__link-text">Vacatures</span>
                        </a>
                    </li>
                    <li class="utrecht-link-list__item">
                        <a
                                href="#"
                                class="utrecht-link utrecht-link--html-a utrecht-link-list__link"
                        >
              <span class="utrecht-icon" role="presentation" aria-hidden="true">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="tabler-icon tabler-icon-chevron-right"
                >
                  <path d="M9 6l6 6l-6 6"></path>
                </svg>
              </span>
                            <span class="utrecht-link-list__link-text">Sitemap</span>
                        </a>
                    </li>
                    <li class="utrecht-link-list__item">
                        <a
                                href="#"
                                class="utrecht-link utrecht-link--html-a utrecht-link-list__link"
                        >
              <span class="utrecht-icon" role="presentation" aria-hidden="true">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="tabler-icon tabler-icon-chevron-right"
                >
                  <path d="M9 6l6 6l-6 6"></path>
                </svg>
              </span>
                            <span class="utrecht-link-list__link-text">Help</span>
                        </a>
                    </li>
                    <li class="utrecht-link-list__item">
                        <a
                                href="#"
                                class="utrecht-link utrecht-link--html-a utrecht-link-list__link"
                        >
              <span class="utrecht-icon" role="presentation" aria-hidden="true">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="tabler-icon tabler-icon-chevron-right"
                >
                  <path d="M9 6l6 6l-6 6"></path>
                </svg>
              </span>
                            <span class="utrecht-link-list__link-text">Archief</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="rhc-page-footer__section">
                <h3 class="nl-heading nl-heading--level-3 rhc-heading">
                    Over deze site
                </h3>
                <ul role="list" class="utrecht-link-list utrecht-link-list--html-ul">
                    <li class="utrecht-link-list__item">
                        <a
                                href="#"
                                class="utrecht-link utrecht-link--html-a utrecht-link-list__link"
                        >
              <span class="utrecht-icon" role="presentation" aria-hidden="true">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="tabler-icon tabler-icon-chevron-right"
                >
                  <path d="M9 6l6 6l-6 6"></path>
                </svg>
              </span>
                            <span class="utrecht-link-list__link-text">
                Over deze organisatie
              </span>
                        </a>
                    </li>
                    <li class="utrecht-link-list__item">
                        <a
                                href="#"
                                class="utrecht-link utrecht-link--html-a utrecht-link-list__link"
                        >
              <span class="utrecht-icon" role="presentation" aria-hidden="true">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="tabler-icon tabler-icon-chevron-right"
                >
                  <path d="M9 6l6 6l-6 6"></path>
                </svg>
              </span>
                            <span class="utrecht-link-list__link-text">
                Wetten en regelingen
              </span>
                        </a>
                    </li>
                    <li class="utrecht-link-list__item">
                        <a
                                href="#"
                                class="utrecht-link utrecht-link--html-a utrecht-link-list__link"
                        >
              <span class="utrecht-icon" role="presentation" aria-hidden="true">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="tabler-icon tabler-icon-chevron-right"
                >
                  <path d="M9 6l6 6l-6 6"></path>
                </svg>
              </span>
                            <span class="utrecht-link-list__link-text">Copyright</span>
                        </a>
                    </li>
                    <li class="utrecht-link-list__item">
                        <a
                                href="#"
                                class="utrecht-link utrecht-link--html-a utrecht-link-list__link"
                        >
              <span class="utrecht-icon" role="presentation" aria-hidden="true">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="tabler-icon tabler-icon-chevron-right"
                >
                  <path d="M9 6l6 6l-6 6"></path>
                </svg>
              </span>
                            <span class="utrecht-link-list__link-text">Privacy</span>
                        </a>
                    </li>
                    <li class="utrecht-link-list__item">
                        <a
                                href="#"
                                class="utrecht-link utrecht-link--html-a utrecht-link-list__link"
                        >
              <span class="utrecht-icon" role="presentation" aria-hidden="true">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="tabler-icon tabler-icon-chevron-right"
                >
                  <path d="M9 6l6 6l-6 6"></path>
                </svg>
              </span>
                            <span class="utrecht-link-list__link-text">Cookies</span>
                        </a>
                    </li>
                    <li class="utrecht-link-list__item">
                        <a
                                href="#"
                                class="utrecht-link utrecht-link--html-a utrecht-link-list__link"
                        >
              <span class="utrecht-icon" role="presentation" aria-hidden="true">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="tabler-icon tabler-icon-chevron-right"
                >
                  <path d="M9 6l6 6l-6 6"></path>
                </svg>
              </span>
                            <span class="utrecht-link-list__link-text">Toegankelijkheid</span>
                        </a>
                    </li>
                    <li class="utrecht-link-list__item">
                        <a
                                href="#"
                                class="utrecht-link utrecht-link--html-a utrecht-link-list__link"
                        >
              <span class="utrecht-icon" role="presentation" aria-hidden="true">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="tabler-icon tabler-icon-chevron-right"
                >
                  <path d="M9 6l6 6l-6 6"></path>
                </svg>
              </span>
                            <span class="utrecht-link-list__link-text">Open data</span>
                        </a>
                    </li>
                    <li class="utrecht-link-list__item">
                        <a
                                href="#"
                                class="utrecht-link utrecht-link--html-a utrecht-link-list__link"
                        >
              <span class="utrecht-icon" role="presentation" aria-hidden="true">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="tabler-icon tabler-icon-chevron-right"
                >
                  <path d="M9 6l6 6l-6 6"></path>
                </svg>
              </span>
                            <span class="utrecht-link-list__link-text">
                Kwetsbaarheid melden
              </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="rhc-page-subfooter rhc-page-footer--primary-filled">
        <div class="rhc-page-subfooter__content rhc-page-footer__wrapper">
            <ul role="list" class="utrecht-link-list utrecht-link-list--html-ul">
                <li class="utrecht-link-list__item">
                    <a
                            href="#"
                            class="utrecht-link utrecht-link--html-a utrecht-link-list__link"
                    >
                        <span class="utrecht-link-list__link-text">Privacy</span>
                    </a>
                </li>
            </ul>
            <a class="rhc-page-subfooter__backtotop" href="#">
                Terug naar boven
                <span class="utrecht-icon" role="presentation" aria-hidden="true">
          <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="tabler-icon tabler-icon-arrow-narrow-up"
          >
            <path d="M12 5l0 14"></path>
            <path d="M16 9l-4 -4"></path>
            <path d="M8 9l4 -4"></path>
          </svg>
        </span>
            </a>
        </div>
    </div>
</footer>
