<footer class="utrecht-page-footer rhc-page-footer">
    <div class="rhc-page-footer__content rhc-page-footer__wrapper">
        <div class="rhc-page-footer__title">
            <p class="ftv-footer-title">{{ .Site.Params.footer.title }}</p>
        </div>
        <div class="utrecht-column-layout">
            <div class="rhc-page-footer__section">
                <ul role="list" class="utrecht-link-list utrecht-link-list--html-ul">
                    <li class="utrecht-link-list__item">
                        <a href="https://digilab.overheid.nl/chat/digilab/channels/federatieve-toegangsverlening" class="utrecht-link utrecht-link--html-a utrecht-link-list__link"  target="_blank" rel="noopener noreferrer">
                            <span class="utrecht-icon" role="presentation" aria-hidden="true">
                                <img role="presentation" src="/ftv/images/iconen/icon-mattermost.svg">
                            </span>
                            <span class="utrecht-link-list__link-text">Mattermost-kanaal</span>
                        </a>
                    </li>
                    <li class="utrecht-link-list__item">
                        <a href="https://github.com/VNG-Realisatie" target="_blank" rel="noopener noreferrer"
                           class="utrecht-link utrecht-link--html-a utrecht-link-list__link">
                            <span class="utrecht-icon" role="presentation" aria-hidden="true">
                               <img role="presentation" src="/ftv/images/iconen/icon-github.svg">
                            </span>
                            <span class="utrecht-link-list__link-text">GitHub VNG Realisatie</span>
                        </a>
                    </li>
                    <li class="utrecht-link-list__item">
                        <a  href="mailto:ftv@vng.nl" class="utrecht-link utrecht-link--html-a utrecht-link-list__link">
                            <span class="utrecht-icon" role="presentation" aria-hidden="true">
                               <img role="presentation" src="/ftv/images/iconen/icon-mail.svg">
                            </span>
                            <span class="utrecht-link-list__link-text">E-mail</span>
                        </a>
                    </li>
                    <li class="utrecht-link-list__item">
                        <a  href="/ftv/actueel/aanmelden-nieuwsbrief/" class="utrecht-link utrecht-link--html-a utrecht-link-list__link">
                            <span class="utrecht-icon" role="presentation" aria-hidden="true">
                               <img role="presentation" src="/ftv/images/iconen/icon-nieuwsbrief.svg">
                            </span>
                            <span class="utrecht-link-list__link-text">Nieuwsbrief</span>
                        </a>
                    </li>
                    <li class="utrecht-link-list__item">
                        <a  href="/ftv/begrippenlijst/" class="utrecht-link utrecht-link--html-a utrecht-link-list__link">
                            <span class="utrecht-icon" role="presentation" aria-hidden="true">
                               <img role="presentation" src="/ftv/images/iconen/icon-begrippenlijst.svg">
                            </span>
                            <span class="utrecht-link-list__link-text">Begrippenlijst</span>
                        </a>
                    </li>                </ul>
            </div>
<!--            <div class="rhc-page-footer__section">-->
<!--                <ul role="list" class="utrecht-link-list utrecht-link-list&#45;&#45;html-ul">-->
<!--                    <li class="utrecht-link-list__item">-->
<!--                        <a href="#" class="utrecht-link utrecht-link&#45;&#45;html-a utrecht-link-list__link">-->
<!--                            <span class="utrecht-icon" role="presentation" aria-hidden="true">-->
<!--                                <svg-->
<!--                                        xmlns="http://www.w3.org/2000/svg"-->
<!--                                        width="24"-->
<!--                                        height="24"-->
<!--                                        viewBox="0 0 24 24"-->
<!--                                        fill="none"-->
<!--                                        stroke="currentColor"-->
<!--                                        stroke-width="2"-->
<!--                                        stroke-linecap="round"-->
<!--                                        stroke-linejoin="round"-->
<!--                                        class="tabler-icon tabler-icon-chevron-right"-->
<!--                                >-->
<!--                                <path d="M9 6l6 6l-6 6"></path>-->
<!--                                </svg>-->
<!--                            </span>-->
<!--                            <span class="utrecht-link-list__link-text">Contact</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li class="utrecht-link-list__item">-->
<!--                        <a href="#" class="utrecht-link utrecht-link&#45;&#45;html-a utrecht-link-list__link">-->
<!--                            <span class="utrecht-icon" role="presentation" aria-hidden="true">-->
<!--                                <svg-->
<!--                                        xmlns="http://www.w3.org/2000/svg"-->
<!--                                        width="24"-->
<!--                                        height="24"-->
<!--                                        viewBox="0 0 24 24"-->
<!--                                        fill="none"-->
<!--                                        stroke="currentColor"-->
<!--                                        stroke-width="2"-->
<!--                                        stroke-linecap="round"-->
<!--                                        stroke-linejoin="round"-->
<!--                                        class="tabler-icon tabler-icon-chevron-right"-->
<!--                                >-->
<!--                                <path d="M9 6l6 6l-6 6"></path>-->
<!--                                </svg>-->
<!--                            </span>-->
<!--                            <span class="utrecht-link-list__link-text">Open Source</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li class="utrecht-link-list__item">-->
<!--                        <a href="#" class="utrecht-link utrecht-link&#45;&#45;html-a utrecht-link-list__link">-->
<!--                            <span class="utrecht-icon" role="presentation" aria-hidden="true">-->
<!--                                <svg-->
<!--                                        xmlns="http://www.w3.org/2000/svg"-->
<!--                                        width="24"-->
<!--                                        height="24"-->
<!--                                        viewBox="0 0 24 24"-->
<!--                                        fill="none"-->
<!--                                        stroke="currentColor"-->
<!--                                        stroke-width="2"-->
<!--                                        stroke-linecap="round"-->
<!--                                        stroke-linejoin="round"-->
<!--                                        class="tabler-icon tabler-icon-chevron-right"-->
<!--                                >-->
<!--                                <path d="M9 6l6 6l-6 6"></path>-->
<!--                                </svg>-->
<!--                            </span>-->
<!--                            <span class="utrecht-link-list__link-text">Privacy</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li class="utrecht-link-list__item">-->
<!--                        <a href="#" class="utrecht-link utrecht-link&#45;&#45;html-a utrecht-link-list__link">-->
<!--                            <span class="utrecht-icon" role="presentation" aria-hidden="true">-->
<!--                                <svg-->
<!--                                        xmlns="http://www.w3.org/2000/svg"-->
<!--                                        width="24"-->
<!--                                        height="24"-->
<!--                                        viewBox="0 0 24 24"-->
<!--                                        fill="none"-->
<!--                                        stroke="currentColor"-->
<!--                                        stroke-width="2"-->
<!--                                        stroke-linecap="round"-->
<!--                                        stroke-linejoin="round"-->
<!--                                        class="tabler-icon tabler-icon-chevron-right"-->
<!--                                >-->
<!--                                <path d="M9 6l6 6l-6 6"></path>-->
<!--                                </svg>-->
<!--                            </span>-->
<!--                            <span class="utrecht-link-list__link-text">Toegankelijkheidsverklaring</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li class="utrecht-link-list__item">-->
<!--                        <a href="#" class="utrecht-link utrecht-link&#45;&#45;html-a utrecht-link-list__link">-->
<!--                            <span class="utrecht-icon" role="presentation" aria-hidden="true">-->
<!--                                <svg-->
<!--                                        xmlns="http://www.w3.org/2000/svg"-->
<!--                                        width="24"-->
<!--                                        height="24"-->
<!--                                        viewBox="0 0 24 24"-->
<!--                                        fill="none"-->
<!--                                        stroke="currentColor"-->
<!--                                        stroke-width="2"-->
<!--                                        stroke-linecap="round"-->
<!--                                        stroke-linejoin="round"-->
<!--                                        class="tabler-icon tabler-icon-chevron-right"-->
<!--                                >-->
<!--                                <path d="M9 6l6 6l-6 6"></path>-->
<!--                                </svg>-->
<!--                            </span>-->
<!--                            <span class="utrecht-link-list__link-text">Meld een kwetsbaarheid</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li class="utrecht-link-list__item">-->
<!--                        <a href="#" class="utrecht-link utrecht-link&#45;&#45;html-a utrecht-link-list__link">-->
<!--                            <span class="utrecht-icon" role="presentation" aria-hidden="true">-->
<!--                                <svg-->
<!--                                        xmlns="http://www.w3.org/2000/svg"-->
<!--                                        width="24"-->
<!--                                        height="24"-->
<!--                                        viewBox="0 0 24 24"-->
<!--                                        fill="none"-->
<!--                                        stroke="currentColor"-->
<!--                                        stroke-width="2"-->
<!--                                        stroke-linecap="round"-->
<!--                                        stroke-linejoin="round"-->
<!--                                        class="tabler-icon tabler-icon-chevron-right"-->
<!--                                >-->
<!--                                <path d="M9 6l6 6l-6 6"></path>-->
<!--                                </svg>-->
<!--                            </span>-->
<!--                            <span class="utrecht-link-list__link-text">Sitemap</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
        </div>
    </div>
</footer>
