<link href="/ftv/pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/ftv/pagefind/pagefind-ui.js"></script>
<div class="flex bg-rhc-primary h-[90px] gap-x-6">
    <div class="grid grid-cols-[70px_auto] grid-rows-1 ml-25">
        <div class="content-center w-15 p-1">
            <img class="mx-auto w-45px" src="{{ relURL "ftv-logo.svg" }}" alt="FTV Beeldmerk" />
        </div>
        <div class="content-center">
            <p class="rhc-header-4">
                {{ .Site.Title }}
            </p>
            <p class="rhc-header-5">
                {{ .Site.Params.subtitle }}
            </p>
        </div>
    </div>
    <div id="search" class="p-3 content-center mx-auto">

    </div>
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            new PagefindUI(
                {
                    element: "#search",
                    showSubResults: false,
                    showImages: false
                });
        });
    </script>
</div>
<div class="grow h-[16px] bg-ftv-green">

</div>

{{ partial "menu.html" }}
