<nav class="mobilemenu block lg:hidden">
    <input type="checkbox" id="check">
    <label for="check" class="mobilemenucheckbtn">
        <img src="/ftv/images/iconen/icon-mobilemenu.svg">
    </label>
    <div class="nav-mobile text-lg">
        <a href="{{ relURL "" }}">Home</a>
        <a href="{{ relURL "actueel" }}">Actueel</a>
        <a href="{{ relURL "methodiek" }}">Methodiek</a>
        <a href="{{ relURL "meedoen" }}">Meedoen</a>
        <a href="{{ relURL "onderzoek" }}">Onderzoek</a>
        <a href="{{ relURL "over_het_project" }}">Over</a>
    </div>
</nav>