<div class="py-2 lg:w-[1024px] w-3xl mx-auto">
    <div type="button" class="accordion-header collapsible">
        <div class="accordion-sidebar-color {{ .Get "customclass" }}">
            <p>&nbsp;</p>
        </div>
        <div>
            <div class="accordion-sidebar-icon">
                <img src="/ftv/images/accordion-vinkje.svg">
            </div>
            <h4 class="nl-heading nl-heading--level-4 rhc-heading">{{ .Get "title" }}</h4>
        </div>
    </div>
    <div class="accordion-body section flex">
        <div class="accordion-sidebar-color w-[16px] {{ .Get "customclass" }}">
            &nbsp;
        <br>
        </div>
        <div class="accordion-content section no-scrollbar w-[1008px]">
            {{ $paragraphs := split .Inner "\n\n" }}
            {{ range $paragraphs }}
                {{ if ne (trim . " ") "" }}
                    <p class="utrecht-paragraph--lead pt-2">
                        {{ . | $.Page.RenderString }}
                    </p>
                {{ end }}
            {{ end }}
        </div>
        {{ if and (.Get "lastaccordion") (ne (.Get "lastaccordion") "") }}
        <script>

            var coll = document.getElementsByClassName("collapsible");
            var i;

            for (i = 0; i < coll.length; i++) {

              coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight){
                  content.style.maxHeight = null;
                } else {
                  content.style.maxHeight = "100%";
                }
              });
            }
            </script>
        {{ end }}
    </div>
</div>
