<div class="{{ .Get "customclass" }} {{ if eq (.Get "bg") "orange" }}bg-rhc-color-oranje-200{{ else if eq (.Get "bg") "lightorange" }}bg-rhc-color-oranje-100{{ else if eq (.Get "bg") "blue" }}bg-rhc-color-blauw-50{{ else if eq (.Get "bg") "lightblue" }}bg-rhc-color-blauw-25{{ else if eq (.Get "bg") "brown" }}bg-rhc-color-donkerbruin-100{{ else if eq (.Get "bg") "lightbrown" }}bg-rhc-color-donkerbruin-50{{ else if eq (.Get "bg") "green" }}bg-rhc-color-groen-50{{ else if eq (.Get "bg") "lightgreen" }}bg-rhc-color-groen-25{{ else if eq (.Get "bg") "gray" }}bg-rhc-color-grijs-200{{ else if eq (.Get "bg") "yellow" }}bg-rhc-color-geel-300{{ else if eq (.Get "bg") "lightyellow" }}bg-rhc-color-geel-50{{ else }}bg-rhc-donkerbruin-100{{ end }}">
    <div class="py-8 max-w-5xl mx-auto">
        <div class="flex">
            <div class="max-w-[870px]">
                <h1 class="nl-heading nl-heading--level-1 rhc-heading" id="{{.Get "id"}}">{{ .Get "title" }}</h1>
                {{ $paragraphs := split .Inner "\n\n" }}
                    {{ range $paragraphs }}
                    {{ if ne (trim . " ") "" }}
                        <p class="utrecht-paragraph--lead pt-2">
                            {{ . | $.Page.RenderString }}
                        </p>
                    {{ end }}
                {{ end }}
            </div>
            {{ if and (.Get "icon") (ne (.Get "icon") "") }}
            <div class="max-w-[157px] place-content-center justify-center mx-auto">
                <img src="{{ relURL (.Get "icon") }}" role="presentation">
            </div>
            {{ end }}
        </div>
    </div>
</div>