<div class="section-home-wrapper next-previous-wrapper {{.Get "bg"}} py-2 lg:w-[1024px] mx-auto">

    {{ if and (.Get "previouslink") (ne (.Get "previouslink") "") }}
        <div class="section-home-box next-previous-box-left lg:pl-[50px]">
            <a href="{{.Get "previouslink"}}" role="navigation">
                <h2 class="nl-heading nl-heading--level-5 rhc-heading" id="{{.Get "id"}}"><&nbsp;Vorig artikel</h2>
            </a>
            <p class="lg:mr-[16px]">
                {{ .Get "previoustitle" }}
            </p>
        </div>
    {{ end }}

    {{ if and (.Get "nextlink") (ne (.Get "nextlink") "") }}
    <div class="section-home-box next-previous-box-right lg:pr-[50px]">
        <a href="{{.Get "nextlink"}}" role="navigation">
        <h2 class="nl-heading nl-heading--level-5 rhc-heading" id="{{.Get "id"}}">Volgend artikel&nbsp;></h2>
        </a>
        <p class="lg:ml-[16px]">
            {{ .Get "nexttitle" }}
        </p>
    </div>
    {{ end }}


            {{ $content := .Inner | $.Page.RenderString }}
            {{ $hasP := findRE "<p\\s" $content }}
            {{ if $hasP }}
            {{ $content | safeHTML }}
            {{ else }}
            <p class="utrecht-paragraph pt-2">{{ $content | safeHTML }}</p>
            {{ end }}


</div>