<div class="py-2 lg:w-[1024px] px-6 lg:px-0 mx-auto" id="{{.Get "id"}}">
    {{ $level := .Get "level" | default 2 }}
    {{ if or (lt (int $level) 1) (gt (int $level) 6) }}
        {{ $level = 2 }}
    {{ end }}
    {{ if and (.Get "link") (ne (.Get "link") "") }}
    <a href="{{.Get "link"}}" style="text-decoration:underline">
    {{ end }}
        <h{{ $level }} class="nl-heading nl-heading--level-{{ $level }} rhc-heading" id="{{.Get "id"}}"> {{ .Get "title" }}</h{{ $level }}>
    {{ if and (.Get "link") (ne (.Get "link") "") }}
    </a>
    {{ end }}
    <div class="section">
        {{ $content := .Inner | $.Page.RenderString }}
        {{ $hasP := findRE "<p\\s" $content }}
        {{ if $hasP }}
            {{ $content | safeHTML }}
        {{ else }}
            <p class="utrecht-paragraph pt-2">{{ $content | safeHTML }}</p>
        {{ end }}
    </div>
</div>