<div class="bg-[url(../home-image.svg)] h-[358px] bg-no-repeat bg-bottom-left bg-hero p-6 flex flex-col lg:flex-row gap-10 place-content-center">
    <div class="h-[183px] w-[360px] lg:w-[654px] bg-rhc-primary p-3 my-auto rounded-br-2xl rounded-tr-2xl drop-shadow-lg/50 shadow-black">
        <h1 class="rhc-header-3">
            {{ .Site.Title }}
        </h1>
        <p class="break-normal wrap-anywhere ftv-hero-paragraph mt-4">
            {{ .Site.Params.hero.subtitle }}
        </p>
    </div>
    <div class="w-[360px] lg:w-[319px] h-[183px] bg-rhc-geel-400 my-auto flex flex-col px-2">
        <a href="methodiek/authzen-nlgov#nlgov">
        <div class="pb-3">
            <img class="h-[38px] mx-auto" src="logo-overheid.png" alt="logo overheid"/>
        </div>
        <div class="mt-2">
            <h3 class="nl-heading nl-heading--level-3 rhc-heading">AuthZEN NL Gov</h3>
        </div>
        <div class="mt-2">
            <p class="utrecht-paragraph-small">Standaard voor Federatieve Toegangsverlening</p>
            <p class="utrecht-paragraph-small">Logius Standaard</p>
            <p class="utrecht-paragraph-small">Consultatieversie 15 oktober 2025</p>
        </div>
        </a>
    </div>
</div>