<div class="w-full bg-rhc-color-mosgroen-50 py-6">
    <div class="w-3xl lg:w-5xl mx-auto flex flex-col gap-2.5">
        <div class="sw-full mt-2.5 flex">
            <div class="py-6 w-[480px] flex gap-2.5 flex-col">
                <img src="images/home-methodiek.png" alt="twee handen bij een tablet" role="presentation" width="480"/>
            </div>
            <div class="px-6 w-[480px] flex gap-2.5 flex-col">
                <a href="/ftv/methodiek">
                    <h2 class="nl-heading nl-heading--level-2 rhc-heading">Hoe werkt FTV?</h2>
                    <p class="hoe-werkt-het-paragraph mt-2.5">
                        De kern van het project is de gekozen methodiek, oftewel de voorgestelde werkwijze. Deze beschrijft vanuit technisch en functioneel perspectief hoe een oplossing voor toegang eruit moet zien om de voordelen van FTV te behalen.
                    </p>
                    <a href="/ftv/methodiek" class="utrecht-button  utrecht-button--secondary-action">
                        Methodiek
                        <img src="images/button-icon-methodiek.svg">
                    </a>
                </a>
            </div>
        </div>
    </div>
</div>