<div class="w-full bg-rhc-color-mosgroen-50 py-6">
    <div class="w-3xl lg:w-5xl mx-auto flex flex-col gap-2.5">
        <div class="sw-full mt-2.5 lg:flex">
            <div class="py-3 w-[360px] lg:w-[480px] flex gap-2.5 flex-col">
                <video controls>
                    <source src="https://github.com/VNG-Realisatie/ftv/raw/refs/heads/main/content/introductie.mp4" type="video/mp4">
                </video>
                <a href="introductie-transcript.txt" download>Transcript downloaden</a>
            </div>
            <div class="px-6 w-[360px] lg:w-[480px] flex gap-2.5 flex-col">
                <a href="/ftv/methodiek">
                    <h2 class="nl-heading nl-heading--level-2 rhc-heading">Hoe werkt FTV?</h2>
                    <p class="hoe-werkt-het-paragraph mt-2.5">
                        FTV werkt op basis van Externalized Authorization Management (EAM). Daarbij staan toegangsregels niet meer in de applicatie, maar worden ze centraal opgeslagen en beheerd. Zo zijn beheer en uitvoering van elkaar gescheiden. </p>
                    <a href="/ftv/methodiek" class="utrecht-button  utrecht-button--secondary-action">
                        Methodiek
                        <img src="images/button-icon-methodiek.svg">
                    </a>
                </a>
            </div>
        </div>
    </div>
</div>