<div class="w-[1024px] mx-auto grid grid-cols-2 my-10">
    <div>
        <h3 class="nl-heading nl-heading--level-3 rhc-heading">Praat mee</h3>
        <p class="utrecht-paragraph text-rhc-primary">Meld je aan op Mattermost en praat mee over ons project! Mattermost is een open-source communicatieplatform waar je in real-time kunt samenwerken en ideeën kunt uitwisselen. Wil je meedoen? Ga naar onze inlogpagina of download de app, meld je gratis aan en sluit je direct aan bij de community. We kijken ernaar uit om samen te werken en jouw stem te horen!</p>
    </div>
    <div>
        <img src="images/praatmee.png" alt="Praat mee">
    </div>
</div>