<div class="w-[1024px] mx-auto grid grid-cols-2 my-10">
    <div>
        <h3 class="nl-heading nl-heading--level-3 rhc-heading">Praat mee</h3>
        <p class="utrecht-paragraph text-rhc-primary">
            IT-specialisten denken op Mattermost mee over FTV. Heb je ideeën of vragen?
            Sluit je aan via <a class="nl-link rhc-link" href="https://digilab.overheid.nl/chat/digilab/channels/federatieve-toegangsverlening">ons kanaal<img src="/ftv/images/external.svg" aria-hidden="true" alt="externe link" class="w-[18px] h-[18px] my-auto"></a>.
            Elke bijdrage helpt om FTV beter te maken.
        </p>
    </div>
    <div>
        <img src="images/praatmee.png" alt="Praat mee">
    </div>
</div>