<div class="w-full bg-rhc-color-mosgroen-50 py-6">
    <div class="w-[1024px] mx-auto flex flex-col gap-2.5">
        <div class="w-full px-6">
            <h3 class="nl-heading nl-heading--level-3 rhc-heading">Hoe werkt het als FTV geimplementeerd is?</h3>
        </div>
        <div id="carousel" class="w-full mt-2.5 flex">
            <div class="p-6 w-[480px] flex gap-2.5 flex-col">
                <img src="images/Tax authorities office building.png" alt="Belastingkantoor" />
                <p class="hoe-werkt-het-paragraph">
                    Een Nederlandse gemeente kan via FTV veilig en gecontroleerd gegevens delen met zowel de Belastingdienst als een Europese belastingautoriteit, zonder voor elke partij aparte systemen of contracten te hoeven beheren.
                </p>
            </div>
            <div class="p-6 w-[480px] flex gap-2.5 flex-col">
                <img src="images/student loans investigation.png" alt="Belastingkantoor" />
                <p class="hoe-werkt-het-paragraph">
                    DUO kan via FTV geverifieerde onderwijsgegevens delen met ministeries voor beleidsdoeleinden, zonder dat deze instanties rechtstreeks toegang krijgen tot de studentendossiers.
                </p>
            </div>
        </div>
    </div>
</div>