<div class="w-full bg-rhc-color-mosgroen-50 py-6">
    <div class="w-[1024px] mx-auto flex flex-col gap-2.5 swiper swiperHoe">
        <div class="w-full">
            <h2 class="nl-heading nl-heading--level-2 rhc-heading">Voorbeelden uit de praktijk</h2>
        </div>
        <div id="carousel" class="swiper-wrapper w-full mt-2.5 flex">

            <div class="swiper-slide py-6 w-[480px] flex gap-2.5 flex-col">
                <a href="voorbeeld-campers" >
                    <img src="images/camper-milieuzone.webp" alt="camper op stadsplein" width="480"/>
                    <h4 class="nl-heading nl-heading--level-4 rhc-heading">Campers in de milieuzone</h4>
                    <p class="hoe-werkt-het-paragraph mt-2.5">
                        Gemeenten handhaven milieuzones steeds vaker met kentekenherkenning. FTV zorgt voor flexibiliteit mét respect voor privacy.
                    </p>
                </a>
            </div>
            <div class="swiper-slide p-6 w-[480px] flex gap-2.5 flex-col">
                <a href="voorbeeld-huurtoeslag">
                    <img src="images/huurtoeslag.webp" alt="stockfoto van huizen en geld" width="480" height="264"/>
                    <h4 class="nl-heading nl-heading--level-4 rhc-heading">Huurtoeslag</h4>
                    <p class="hoe-werkt-het-paragraph mt-2.5">
                        Voor de beoordeling van een huuraanslag worden persoonlijke gegevens uitgewisseld.
                        FTV zorgt ervoor dat alleen bevoegde medewerkers toegang krijgen tot die gegevens.
                    </p>
                </a>
            </div>
        </div>
        <div class="swiper-pagination mt-2.5"></div>
    </div>
    <script>
        var swiper = new Swiper(".swiperHoe", {
            slidesPerView: 2,
            spaceBetween: 30,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
        });
    </script>
</div>