<div class="w-full bg-rhc-color-donkerbruin-50 py-6">
    <div class="w-3xl lg:w-5xl mx-auto flex flex-col gap-2.5">
        <div class="sw-full mt-2.5 flex">
            <div class="px-6 w-[480px] flex gap-2.5 flex-col">
                <a href="/ftv/toepassen">
                    <h2 class="nl-heading nl-heading--level-2 rhc-heading">Hoe pas ik FTV zelf toe?</h2>
                    <p class="hoe-werkt-het-paragraph mt-2.5">
                        Het invoeren van de standaard Federatieve Toegangsverlening (FTV) begint met een goede voorbereiding. Denk aan het maken van afspraken over het beheer en het testen van een oplossing in een proefopstelling.
                    </p>
                    <a href="/ftv/toepassen" class="utrecht-button  utrecht-button--secondary-action">
                        Toepassen
                        <img src="images/button-icon-toepassen.svg">
                    </a>
                </a>
            </div>
            <div class="py-6 w-[480px] flex gap-2.5 flex-col">
                <img src="images/home-toepassen.png" alt="hand met wandelende vingers" role="presentation" width="480"/>
            </div>

        </div>
    </div>
</div>