<div class="w-[380px] lg:w-[1024px] pl-8 lg:pl-0 lg:mx-auto grid-cols-1 py-8 lg:py-16">
    <div class="">
        <h2 class="nl-heading nl-heading--level-2 rhc-heading">Waarom FTV?</h2>
        <p class="utrecht-paragraph text-rhc-primary pt-6">Dit zijn de voordelen van moderne toegangsverlening:</p>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-4 grid-rows-4 lg:grid-rows-1 lg:my-6 gap-6">
        <div class="lg:min-w-[240px] lg:min-h-[212px]">
            <img class="mx-auto mt-4 lg:h-[120px]" src="{{ relURL "images/iconen/card-hero-icon-schaalbaar.svg" }}" alt="Schaalbaar" />
            <h4 class="nl-heading nl-heading--level-4 rhc-heading pt-6 text-center w-max-content">
                Schaalbaar
            </h4>
        </div>
        <div class="lg:min-w-[240px] lg:min-h-[212px]">
            <img class="mx-auto mt-4 lg:h-[120px]" src="{{ relURL "images/iconen/card-hero-icon-traceerbaar.svg" }}" alt="Traceerbaar" />
            <h4 class="nl-heading nl-heading--level-4 rhc-heading pt-6 text-center">
                Traceerbaar
            </h4>
        </div>
        <div class="lg:min-w-[240px] lg:min-h-[212px]">
            <img class="mx-auto mt-4 lg:h-[120px]" src="{{ relURL "images/iconen/card-hero-icon-leveranciersonafhankelijk.svg" }}" alt="Leveranciersonafhankelijk" />
            <h4 class="nl-heading nl-heading--level-4 rhc-heading pt-6 text-center">
                Leveranciers- onafhankelijk
            </h4>
        </div>
        <div class="lg:min-w-[240px] lg:min-h-[212px]">
            <img class="mx-auto mt-4 lg:h-[120px]" src="{{ relURL "images/iconen/card-hero-icon-flexibel.svg" }}" alt="Flexibel" />
            <h4 class="nl-heading nl-heading--level-4 rhc-heading pt-6 text-center">
                Flexibel
            </h4>
        </div>
    </div>
    <div>
        <a href="waarom/" class="utrecht-button utrecht-button--primary-action">
            Meer weten over de voordelen van FTV?
        </a>
    </div>
</div>