<div class="w-[1024px] mx-auto grid-cols-1 py-16">
    <div class="grid grid-cols-4 grid-rows-1 mb-6 gap-6">
        <div class="min-w-[240px] min-h-[212px] bg-ftv-info">
            <img class="mx-auto w-[96px] mt-4" src="voordeel.svg" alt="FTV Beeldmerk" />
            <h4 class="nl-heading nl-heading--level-4 rhc-heading pt-6">
                Schaalvergroting mogelijk
            </h4>
        </div>
        <div class="min-w-[240px] min-h-[212px] bg-ftv-info">
            <img class="mx-auto w-[96px] mt-4" src="voordeel.svg" alt="FTV Beeldmerk" />
            <h4 class="nl-heading nl-heading--level-4 rhc-heading pt-6">
                Traceerbaarheid geborgd
            </h4>
        </div>
        <div class="min-w-[240px] min-h-[212px] bg-ftv-info">
            <img class="mx-auto w-[96px] mt-4" src="voordeel.svg" alt="FTV Beeldmerk" />
            <h4 class="nl-heading nl-heading--level-4 rhc-heading pt-6">
                Leverancier onafhankelijk
            </h4>
        </div>
        <div class="min-w-[240px] min-h-[212px] bg-ftv-info">
            <img class="mx-auto w-[96px] mt-4" src="voordeel.svg" alt="FTV Beeldmerk" />
            <h4 class="nl-heading nl-heading--level-4 rhc-heading pt-6">
                Flexibel dus toekomstvast
            </h4>
        </div>
    </div>
    <div class="mb-6">
        <p class="utrecht-paragraph text-rhc-primary">
            Een korte overkoepelende tekst om de vier lossen punten te verbinden met de ene link naar de tekst op de nieuwe pagina met meer details.
        </p>
    </div>
    <div>
        <a href="waarom/" class="utrecht-button utrecht-button--primary-action">
            Meer weten over de voordelen van FTV?
        </a>
    </div>
</div>