<div class="w-full bg-rhc-color-grijs-200 py-6">
    <div class="w-[1024px] mx-auto grid grid-cols-1 my-10">
        <div class="my-2.5">
            <h2 class="nl-heading nl-heading--level-2 rhc-heading pb-2">Wie doen al mee?</h2>
            <p class="utrecht-paragraph text-rhc-primary"></p>
        </div>
    </div>
    <div class="w-[1024px] my-2.5 swiper swiperWieDoenMee bg-rhc-color-grijs-50">
        <div class="swiper-wrapper flex h-[240px]">
            {{ $data := dict }}
            {{ $path := "data/wie_doen_mee.yaml" }}
            {{ with resources.Get $path }}
                {{ with . | transform.Unmarshal }}
                    {{ $data = . }}
                {{ end }}
            {{ else }}
                {{ errorf "Unable to load %q" $path }}
            {{ end }}

            {{ range $data }}
                <div class="swiper-slide w-[320px] bg-white py-2.5" style="height: 240px">
                    <a href="{{ .link }}" target="_blank" rel="noopener noreferrer">
                        <img src="{{ .logo }}" width="{{ .size }}" alt="{{ .alt_text }}"
                             class="m-auto h-full object-contain">
                    </a>
                </div>
            {{ end }}
        </div>
        <div class="w-[1024px] swiper-pagination-wie mt-4 mx-auto flex justify-center">

        </div>
    </div>

    <script>
        var swiperWie = new Swiper(".swiperWieDoenMee", {
            slidesPerView: 4,
            speed:5000,
            autoHeight: true,
            direction: 'horizontal',
            autoplay: {delay: 0},
            height: 240,
            spaceBetween: 10,
            pagination: {
                el: ".swiper-pagination-wie",
                clickable: true,
            },
            loop: true,
        });
    </script>
</div>